<table class="table">
  <thead class="text-center">
    <tr>
      <th>ID</th>
      <th>Category</th>
      <th>Risk</th>
      <th>Loan Amount</th>
      <th>Investor Name</th>
      <th>Investor Balance</th>
      <th>Investor Remaining Balance</th>
    </tr>
  </thead>
  <tbody class="text-center">
    <%@loan_with_investor.each do |detail|%>
      <tr>
        <td><%=detail[:loan_id]%></td>
        <td><%=detail[:loan_category]%></td>
        <td><%=detail[:risk_band]%></td>
        <td><%=detail[:loan_amount]%></td>
        <td><%=detail[:investor_name]%></td>
        <td><%=detail[:investor_balance]%></td>
        <td><%=detail[:investor_remaining_balance]%></td>
      </tr>
    <%end%>
  </tbody>
</table>