<style>
  .btn-default{
    border: 1px solid #ced4da;
  }
  .multiple-checkboxes{
    width: 15%;
  }
  .text-center{
    text-align:center;
  }
</style>


  

<br>
<div class="text-center"><a href="https://gist.github.com/FrankKair/40631f210e17ef6819709ed916e2aafe" target="blank">Assigned Task</a></div>
<%= form_tag(root_path, method: 'GET', class: 'form-horizontal group-border-dashed', remote: true) do |form| %>
  <div class="container-fluid">
    <div class="row">

      <div class="col-md-5">
        <h3 class="text-center">Loan</h3>

        <table class="table">
          <thead>
            <tr>
              <th>ID</th>
              <th>Category</th>
              <th>Risk Band</th>
              <th>Amount</th>
            </tr>
          </thead>
          <tbody>
            <%(1..15).each do |n|%>
              <%loan_display = (n == 1) ? "" : "none"%>
              <tr class="loan_row add_loan_row_<%=n%>" style="display: <%=loan_display%>">
                <td>
                  <%= number_field_tag "loan_id_#{n}","#{n}".to_i,class: 'form-control input-md', id: "loan_id_#{n}",style: "width: 54px;border: 1px solid #888;",readonly: true %>
                </td>
                <td>
                  <%= select_tag "loan_category_#{n}", options_for_select(["Property","Retail","Medical"],"Property"),{placeholder: "Enter",class: 'form-control input-md valid', id: "loan_category_#{n}",style: ""} %>
                </td>
                <td>
                  <%= select_tag "loan_risk_band_#{n}", options_for_select(["A+","A","B","C","D","E"],"A"),{placeholder: "Enter",class: 'form-control input-md valid', id: "loan_risk_band_#{n}",style: ""} %>
                </td>
                <td>
                  <%= number_field_tag "loan_amount_#{n}",0, placeholder: "Enter Number", class: 'form-control input-md', id: "loan_amount_#{n}",style: "width: 115px;border: 1px solid #888;" %>
                </td>
              </tr>
            <%end%>
           
          </tbody>
        </table>
          <div class="text-center"><input type="button" class="btn btn-success" value="&#xf067;&nbsp;&nbsp;Add Loan" id="add_loan"></div>
        <br>
        <br>
      </div>





      <div class="col-md-7">
        <h3 class="text-center">Investor Detail</h3>
        <table class="table table-layout: fixed">
          <thead>
            <tr>
              <th>Name</th>
              <th>Balance</th>
              <th>Percentage</th>
              <th>Category</th>
              <th>Risk Band</th>
            </tr>
          </thead>
          <tbody>
            <%(1..15).each do |n|%>
              <%investor_display = (n <=5) ? "" : "none"%>
              <tr class="investor_row add_investor_row_<%=n%>" style="display: <%=investor_display%>">
                <td>
                  <%= text_field_tag "investor_name_#{n}", '', class: 'form-control input-md', id: "investor_name_#{n}",style: "width: 115px;" %>
                </td>
                <td>
                  <%= number_field_tag "investor_amount_#{n}",0, class: 'form-control input-md', id: "investor_amount_#{n}",style: "width: 115px;border: 1px solid #888;" %>
                </td>
                <td>
                  <%= number_field_tag "invest_percentage_#{n}",100, placeholder: "%", class: 'form-control input-md', id: "invest_percentage_#{n}",style: "width: 70px;border: 1px solid #888;" %>
                </td>

                <td>
                  <%= hidden_field_tag "investor_category_#{n}",""%>
                  <%= select_tag "dummy_investor_category_#{n}", options_for_select(["Property","Retail","Medical"]),{placeholder: "Enter",class: 'form-control input-md valid multiple-checkboxes', id: "dummy_investor_category_#{n}",multiple: "multiple"} %>
                </td>

                <td>
                  <%= hidden_field_tag "investor_risk_#{n}",""%>
                  <%= select_tag "dummy_investor_risk_#{n}", options_for_select(["A+","A","B","C","D","E"]),{placeholder: "Enter",class: 'form-control input-md valid multiple-checkboxes', id: "dummy_investor_risk_#{n}",multiple: "multiple"} %>
              </td>
               
              </tr>
            <%end%>
          </tbody>
        </table>
          <div class="text-center"><input type="button" class="btn btn-success" value="&#xf067;&nbsp;&nbsp;Add Investor" id="add_investor"></div>
        <br>
        
       
      </div>
    </div>
      <div class="text-center">
        <button class="btn btn-primary btn-flat submit" type="submit"><i class="fa fa-check submit"></i>Submit</button>
      </div>

     
      <br>

      <div class="loan_investor_output">
        <%if @loan_with_investor.present?%>
          <%= render 'loan_investor_result' %>
        <%end%>
      </div>

  </div>
<%end%>

  <script>
    $(document).ready(function() {
      $('.multiple-checkboxes').multiselect({
        includeSelectAllOption: true,
      });
      
      

      <%if @loan_records.present?%>
        <%@loan_records.each_with_index do |loan,n|%>
          <%n = n + 1%>
          row_class = ".add_loan_row_"+'<%=n%>'
          $(row_class).css('display','');
          row_no = '<%=n%>'
          loan_id = "#loan_id_"+row_no
          loan_category = "#loan_category_"+row_no
          loan_risk_band = "#loan_risk_band_"+row_no
          loan_amount = "#loan_amount_"+row_no
          $(loan_id).val('<%=loan[:loan_id]%>');
          $(loan_category).val('<%=loan[:category]%>');
          $(loan_risk_band).val('<%=loan[:risk_band]%>');
          $(loan_amount).val('<%=loan[:amount]%>');
        <%end%>
      <%end%>

      <%if @investor_details.present?%>
        <%n = 1%>
        <%@investor_details.each do |key,value|%>
          
          row_class = ".investor_row add_investor_row_"+'<%=n%>'
          $(row_class).css('display','');
          row_no = '<%=n%>'

          investor_name = "#investor_name_"+row_no
          investor_amount = "#investor_amount_"+row_no
          invest_percentage = "#invest_percentage_"+row_no
          investor_category = "#investor_category_"+row_no
          investor_risk = "#investor_risk_"+row_no

          $(investor_name).val('<%=key%>');
          $(investor_amount).val('<%=value[:balance]%>');
          $(invest_percentage).val('<%=value[:invest_percentage]%>');
          <%n += 1%>
        <%end%>
      <%else%>

        var investor_name_array = ["","Bob","Susan","George","Helen","Jamie"]
        var investor_amount_array = ["",120000,50000,150000,10000,90000]
        var investor_category_array = ["Property","Retail","Medical"]
        var investor_risk_band_array = ["A+","A","B","C","D","E"]
        // Set default Investor value
        <%(1..5).each do |n|%>
        row_no = '<%=n%>'
        investor_name = "#investor_name_"+row_no
        investor_amount = "#investor_amount_"+row_no
        invest_percentage = "#invest_percentage_"+row_no
        investor_category = "#investor_category_"+row_no
        investor_risk = "#investor_risk_"+row_no
        
        percentage = (investor_name_array[('<%=n%>')] == "Helen") ? 40 : 100
        $(investor_name).val(investor_name_array[('<%=n%>')]);
        $(investor_amount).val(investor_amount_array[('<%=n%>')]);
        $(invest_percentage).val(percentage);
        $(investor_category).val();
        $(investor_risk).val();
      <%end%>
      <%end%>
    });
    
    $(function () {
      $("#add_loan").click(function () {
        var add_loan_count = 0
        $('.loan_row:visible').each(function() {
          add_loan_count = add_loan_count + 1
        });
        new_loan_row_no = add_loan_count + 1
        new_loan_row = ".add_loan_row_"+new_loan_row_no
        $(new_loan_row).css("display","");
      });

      $("#add_investor").click(function () {
        var add_investor_count = 0
        $('.investor_row:visible').each(function() {
          add_investor_count = add_investor_count + 1
        });
        new_investor_row_no = add_investor_count + 1
        new_investor_row = ".add_investor_row_"+new_investor_row_no
        $(new_investor_row).css("display","");
      });

      $(".submit").on('click',function(e){
        var loan_details = []
        $('.loan_row:visible').each(function() {
          row_array = $(this).attr('class').split(" ")[1].split("_")
          row_no = row_array[row_array.length - 1]
          loan_id = "#loan_id_"+row_no
          loan_category = "#loan_category_"+row_no
          loan_risk_band = "#loan_risk_band_"+row_no
          loan_amount = "#loan_amount_"+row_no
          loan_details.push([$(loan_id).val(),$(loan_category).val(),$(loan_risk_band).val(),$(loan_amount).val()])
        });
        
        investor_name_arr = []
        investor_details = []
        $('.investor_row:visible').each(function() {
          row_array = $(this).attr('class').split(" ")[1].split("_")
          row_no = row_array[row_array.length - 1]
          investor_name = "#investor_name_"+row_no
          investor_amount = "#investor_amount_"+row_no
          invest_percentage = "#invest_percentage_"+row_no
          dummy_investor_category = "#dummy_investor_category_"+row_no
          dummy_investor_risk = "#dummy_investor_risk_"+row_no

          investor_category = "#investor_category_"+row_no
          investor_risk = "#investor_risk_"+row_no

          $(investor_category).val($(dummy_investor_category).val());
          $(investor_risk).val($(dummy_investor_risk).val());
          investor_name_arr.push($(investor_name).val())
          investor_details.push([$(investor_name).val(),$(investor_amount).val(),$(invest_percentage).val(),$(investor_category).val(),$(investor_risk).val()])
        });

        error_message = []

        $.each(loan_details , function(index,loan) { 
          if (loan[3] < 1){
            loan_id = loan[0]
            error_message.push("Enter more then 0 amount for Loan Id"+" "+loan_id)
          }
        });

         var arr = [1, 2, 3, 4, 4];
        chk = new Set();
        duplicates = investor_name_arr.filter(n => chk.size === chk.add(n).size);

        if (investor_name_arr.indexOf('') >= 0){
          error_message.push("Investor name compulsory")
        }

        if (duplicates.length > 0){
          error_message.push("Investor name must be uniq")
        }
        
        if (error_message.length > 0){
          alert(error_message)
          e.preventDefault();
        }
        
      });
    });
  </script>


